{% extends 'base.html.twig' %}

{% block title %}Edit Vape{% endblock %}

{% block body %}
    <h1>Edit Vape</h1>

    {{ include('vape_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vape_admin_index') }}">back to list</a>

    {{ include('vape_admin/_delete_form.html.twig') }}
{% endblock %}
