@import "variable";

body {
    margin: 0;
    background-color: $dark;
    color: $primary;
}

.imageDesc {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.fav {
    position: absolute;
    bottom: 54rem;
    left: 40rem;
}

.trace {
    position: absolute;
    top: 49.5rem;
    right: 32rem;
    width: 18rem;
}

@media screen and (max-width:500px){
    .fav {
        bottom: 85.9rem;
        left: 18rem;
    }
}