@import "variable";

body {
    background-image: url(/assets/images/smoke.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

h1 {
    position: absolute;
    bottom: 47%;
    left: 28%;
    right: 30%;
    font-size: 7rem;
    text-shadow: 2px 0 $secondary, -2px 0 $secondary, 0 2px $secondary, 0 -2px $secondary,
    1px 1px $secondary, -1px -1px $secondary, 1px -1px $secondary, -1px 1px $secondary;
}
