@import "variable";

body {
    margin: 0;
    background-color: $dark;
    color: $primary;
}

.imageCe {
    border: 2px solid $secondary;
    height: 40rem;
}

.textPres {
    text-shadow: 1px 0 $secondary, -1px 0 $secondary, 0 1px $secondary, 0 -1px $secondary,
    1px 1px $secondary, -1px -1px $secondary, 1px -1px $secondary, -1px 1px $secondary;
}

h1 {
    font-size:  3.5rem;
}

p {
    font-size: 1.14rem;
}

@media screen and (max-width:500px){
    h1 {
        font-size: 3rem;
    }
}