@import "variable";


body {
    background: black;
}
h2,
#progress-bar #progress,
label,
p,
h1 {
    font-family: var(--font-title);
    color: white;
}

.titleQuizz {
    color: #ffffff;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    margin: 0;
}

.fullpage {
    height: 90vh;
    width: 100vw;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 60vh;
    width: 65vw;
    max-width: 700px;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 12px;
    background-color: #000000;
}

#questionaire-title {
    margin-top: 20vh;
    /*margin-bottom: 20vh;*/
    text-align: center;
    font-size: 40px;
}
#questionaire-title2 {
    margin-top: 8vh;
    margin-bottom: 8vh;
    text-align: center;
    font-size: 60px;
}

.hidden {
    display: none;
}

.button {
    text-decoration: none;
    background: lightcoral;
    color: #fff;
    padding: 10px 60px;
    border-radius: 50px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    transition: all 0.2s;

    text-align: center;
    width: 260px;
}
.button  {
    font-size: 30px;
    cursor: pointer;
    padding: 0px 20px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50px;
    text-align: center;
    width: 400px;
    height: 100px;
    background-color: #000000;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    margin-top: 5rem;
}

.start {
    font-size: 4rem;
    color: #ffffff;
}

.button:hover {
    background-color: #ff0000;
    color: #000000;
}

.start:hover {
    color: #000000;
}

#progress-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

#progress {
    width: 20%;
    text-align: right;
    border-bottom: 7px solid #ff0000;
    margin-bottom: -2px;
}

.option {
    display: flex;
    align-items: center;
    height: 18%;
    margin-top: 10px;
    padding: 5px;
}

.option:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.content {
    margin-left: 10px;
    height: 100%;
}

.content img {
    max-height: 100%;
}

#question {
    color: #ffffff;
    text-shadow: 2px 0 #ff0000, -2px 0 #ff0000, 0 2px #ff0000, 0 -2px #ff0000,
        1px 1px #ff0000, -1px -1px #ff0000, 1px -1px #ff0000, -1px 1px #ff0000;
    font-size: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

p {
    color: white;
    font-size: 1.5rem;
}

#personality-type {
    font-size: 4rem;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    color: #ff0000;
}

#personality-part-1 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5rem;
}
#personality-part-2,
#personality-recommended {
    display: none;
}

.retry {
    font-size: 4rem;
}

.sousTitle {
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}


@media screen and (max-width:500px){
    #questionaire-title { 
        font-size: 2rem;
        margin-top: 10rem;
    }

    .button {
        height: 75px;
        margin-top: 2px;
    }

    .start {
        font-size: 3rem;
        margin-bottom: 0;
    }

    #question {
        font-size: 1.3rem;
        margin-top: 10px;
    }

    p {
        font-size: 1rem;
    }

    .option {
        margin-top: 0px;
    }
    
    #personality-type {
        font-size: 2rem;
        margin-top: 1rem
    }

    #personality-part-1 {
        font-size: 1rem;
        margin-top: 20px;
    }

    .retry {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    .container {
        height: 90vh;
    }

}