@import "variable";

body {
    margin: 0;
    background-color: $dark;
    color: $primary;
}

.form-label {
    color: $primary;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 1rem;
}


.form-select {
    border: solid 1px $secondary;
    width: 630px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1rem;
}

.form-control {
    border: solid 1px $secondary;
    width: 630px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 1rem;
}



.search {
    width: 500px;
    height: 50px;
    margin-left: 25rem;
    margin-bottom: 3rem;
}

.etiquette {
    position: absolute;
    bottom: 17rem;
    right: 7.7rem;
    filter: drop-shadow(1.3em 1.3em 2rem rgb(0, 0, 0));
    
}

.priceCard {
    position: absolute;
    bottom: 22.7rem;
    left: 1.5rem;
    text-shadow: 1px 0 $dark, -1px 0 $dark, 0 1px $dark, 0 -1px $dark,
    1px 1px $dark, -1px -1px $dark, 1px -1px $dark, -1px 1px $dark;
}