{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('favoris') }}
{% endblock %}

{% block title %}
	{{ parent() }}
	|| Mes favoris
{% endblock %}

{% block body %}
<section class="container">
			<h1 class="my-5 text-primary d-flex justify-content-center align-self-center text-uppercase">Mes vapes favorites</h1>

            		<div class="row g-5 mb-5">
			{% for vape in app.user.favorite %}
				{% include '/components/vape.html.twig' %}
			{% else %}
				<p class="my-5 fw-bold text-primary fs-4">Aucune offre mise en favoris n'a été détectée.</p>
			{% endfor %}
		</div>
</section>
{% endblock %}
