
<div class="col-lg-3">
<div class="card border border-primary bg-dark my-5" style="width: 18rem;">
  <img src="{{ asset('build/images/placeholder-vape.jpeg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title d-flex fw-bold justify-content-center text-primary"> {{ vape.brand }}</h5>
    <p class="card-text d-flex justify-content-center text-primary"> {{ vape.model }}</p>
    <a href="#" class="btn btn-lg d-flex text-uppercase justify-content-center btn-outline-secondary text-primary">En savoir + ?</a>
  </div>
</div>
</div>